@{
    ViewBag.Title = "About";
}

<div class="content">
      <div class="container">
        <div class="page-header">
          <h1><font color="lightblue">Contact us</h1>
        </div>
        <div class="row-fluid">
          <!-- Start: CONTACT US FORM -->
          <div class="span4 offset1">
            <div class="page-header">
              <h2>Quick message</h2>
            </div>
            <form class="form-contact-us" action="/customer/feedBack" method="post">
              <div class="control-group">
                <div class="controls">
                  <input type="text" id="inputName" placeholder="Name" required="required">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <input type="text" id="inputEmail" placeholder="Email" required>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <textarea id="inputMessage" placeholder="Message" required="required"></textarea>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <input type="submit" class="btn btn-primary btn-large" value="Send">
                </div>
              </div>
            </form>
          </div>
          <!-- End: CONTACT US FORM -->
          <!-- Start: OFFICES -->
          <div class="span5 offset1">
            <div class="page-header">
              <h2>Our Branches</h2>
            </div>
            <h3>Gulberg,Lahore</h3>
            <div>
              <address class="pull-left">
                <strong>Golden Shopping center</strong><br>
                123 Sadiq Plaza, Near Hafeez Center<br>
                Pakistan<br>
              </address>
              <div class="pull-right">
                <div class="bottom-space">
                  <i class="icon-phone icon-large"></i> (041) 123-4567
                </div>
                <a href="mailto:contact@bootbusiness.com" class="contact-mail">
                  <i class="icon-envelope icon-large"></i>
                </a> Shopping@center.com
              </div>
              <div class="clearfix"></div>
            </div>
            <h3>Shahkot</h3>
            <div>
              <address class="pull-left">
                <strong>Barket Shopping store</strong><br>
                 Main Market, Manawala Bazar</br>
                Pakistan<br>
              </address>
              <div class="pull-right">
                <div class="bottom-space">
                  <i class="icon-phone icon-large"></i> (051) 123-1234
                </div>
                <a href="mailto:contact@bootbusiness.com" class="contact-mail">
                  <i class="icon-envelope icon-large"></i>
                </a> Shopping@center.com
              </div>
              <div class="clearfix"></div>
            </div>
            <h3> Nizam Pura</h3>
            <div>
              <address class="pull-left">
                <strong>Al-Noor center.</strong><br>
                Circular Road, 7.Km From Shahkot<br>
                Pakistan<br>
              </address>
              <div class="pull-right">
                <div class="bottom-space">
                  <i class="icon-phone icon-large"></i> 341-7808343
                </div>
                <a href="mailto:contact@bootbusiness.com" class="contact-mail">
                  <i class="icon-envelope icon-large"></i>
                </a> Shopping@center.com
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- End: OFFICES -->
        </div>
      </div>
    </div>