@{
    ViewBag.Title = "Index";
}

    <title></title>
   
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    
     <link href="~/Content/font-awesome-ie7.css" rel="stylesheet" />



    </br></br></br></br></br></br>
   </br></br></br></br></br></br>
   </br></br></br>
   </br></br>
   <font color="lightred">
     <div class="slider">
        <div class="container-fluid">
          <div id="heroSlider" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h3>Our Aim</h3>
                      <p>
                        We are Pakistani and Struggle in IT technology to Improve Our Country.
                       
                      </p>
                                          
                    </div>
                    <div class="span5">
                      <img src="~/Image/pakistan.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h3>NATURE OF WORK</h3>
                      <p>
                        We Develop website applications For Common People of World.
                        
                      </p>
                                          
                    </div>
                    <div class="span5">
                      <img src="~/Image/placeholder.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h3> ABOUT PRODUCTS</h3>
                      <p>
                        Get excited about our products.We build awesome products in mobile.
                          Also Laptops And other Electyronic Equipments.
                      
                      </p>
                                          
                    </div>
                    <div class="span5">
                      <img src="~/Image/shop1.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h3>Our Customers</h3>
                      <p>
                       Our Bussiness Of Shopping Site Spread All Over the World.
                      </p>
                                           
                    </div>
                    <div class="span5">
                      <img src="~/Image/customer1.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
          </div>
        </div>
      </div>
       </font>
      <!-- End: slider -->
     <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/boot-business.js"></script>

         

